.parent-container {
  text-align: center;
  height: 100vh;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor:   
 pointer;
}

.input-field{
  padding: 20px;
}